.idea
.DS_Store
oldcode/
profile.out
inspiration/
godepgraph.png
Log.txt
release/
/src/terminal-assassin
build/career.gob
build/ta
/build/graphics.cfg
build/photos
build/options.rec
build/replays
build/terminal-assassin
